body {
  margin: 0;
  padding: 0;
}
body h1, body h2, body p, body a, body button, body img {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}
body button {
  cursor: pointer;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 143px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
body header .wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .wrapper .burger {
  display: none;
}
body header .wrapper .headerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}
body header .wrapper .headerItem .headerItem__city {
  font-size: 15px;
  line-height: 88.9%;
  margin-bottom: 19px;
}
body header .wrapper .headerItem .headerItem__city a {
  color: #000000;
  text-decoration: underline;
}
body header .wrapper .headerItem .headerItem__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 88.9%;
  color: #404040;
}
body header .wrapper button {
  border: 1px solid #FFCC10;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 18px 40px;
  background: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
body main {
  padding-top: 143px;
  display: flex;
  flex-direction: column;
}
body main .yellowBlock {
  position: absolute;
  width: 622px;
  height: 610px;
  left: 220px;
  top: 115px;
  background: #FFCC10;
  z-index: 0;
}
body main nav {
  position: relative;
  padding-top: 27px;
  padding-left: 18vw;
}
body main nav .breadcrumbs {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 88.9%;
  color: #000000;
}
body main nav .breadcrumbs a {
  color: #000000;
}
body main .banner {
  position: relative;
  display: flex;
  margin-left: auto;
}
body main .banner h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  padding-top: 111px;
}
body main .banner .tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 197px;
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 0px;
  display: flex;
}
body main .banner .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  min-width: 207px;
}
body main .banner .tabs .tab:first-child {
  border-right: 1px solid #404040;
}
body main .banner .macbook {
  position: relative;
  z-index: 1;
}
body main .banner .minibook {
  display: none;
}
body main .catalog h2 {
  margin: 80px 0 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .catalog .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #404040;
  max-width: 970px;
  margin: 0 auto 29px;
}
body main .catalog hr {
  background: #404040;
  max-width: 1276px;
}
body main .catalog .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 74px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.4);
}
body main .catalog .item .itemPic {
  margin-right: 99px;
  width: 300px;
}
body main .catalog .item .itemContent {
  display: flex;
  flex-direction: column;
}
body main .catalog .item .itemContent .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 33px;
}
body main .catalog .item .itemContent .description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  max-width: 575px;
  margin-bottom: 15px;
}
body main .catalog .item .itemContent .info {
  display: flex;
}
body main .catalog .item .itemContent .info .brand, body main .catalog .item .itemContent .info .country {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #797979;
  margin-right: 27px;
}
body main .catalog .item .itemContent .info .country {
  margin-right: 86px;
}
body main .catalog .item .itemContent .info .rules {
  display: flex;
  align-items: center;
}
body main .catalog .item .itemContent .info .rules p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #404040;
}
body main .catalog .item .itemContent .info .rules p a {
  color: #404040;
  text-decoration: underline;
}
body main .catalog .item .line {
  background: rgba(121, 121, 121, 0.4);
  width: 1px;
  height: 210px;
  margin: 0 42px 0 20px;
}
body main .catalog .item .order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .catalog .item .order .btnTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 21px;
}
body main .catalog .item .order button {
  padding: 18px 5px;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #404040;
  width: 227px;
}
body main .catalog .item .order .buyBtn {
  margin-bottom: 8px;
  background: #FFCC10;
}
body main .catalog .item .order .orderBtn {
  border: 1px solid #404040;
  box-sizing: border-box;
  background: #FFFFFF;
}
body main .catalog .item:nth-child(4n) {
  border-bottom: none;
}
body main .catalog .shortItems .item:nth-child(3n) {
  border-bottom: none;
}
body main .catalog .shortItems .item:nth-child(5n) {
  margin-top: 18px;
  border-bottom: none;
}
body main .catalog .shortItems .software {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .solutions {
  display: flex;
}
body main .solutions .miniTruck {
  display: none;
}
body main .solutions .choose {
  max-width: 408px;
}
body main .solutions .choose .mobTabs {
  display: none;
}
body main .solutions .choose .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 20px;
}
body main .solutions .choose .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 44px;
}
body main .solutions .choose hr {
  border: 1px solid #404040;
  margin-bottom: 95px;
}
body main .solutions .choose .equipment {
  margin-bottom: 55px;
}
body main .solutions .choose .equipment .equipmentTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 27px;
}
body main .solutions .choose .equipment .equipmentSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #797979;
}
body main .solutions .choose .control {
  margin-bottom: 55px;
}
body main .solutions .choose .control .controlTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 21px;
}
body main .solutions .choose .control .controlSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #797979;
}
body main .solutions .choose .getSolution {
  padding: 18px 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  background: #FFCC10;
  border-radius: 6px;
}
body main .feedback {
  display: flex;
}
body main .feedback .questions {
  max-width: 734px;
  width: 100%;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .feedback .questions .block {
  margin-left: auto;
  margin-right: 28px;
}
body main .feedback .questions .block .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  text-align: left;
  margin-bottom: 9px;
}
body main .feedback .questions .block .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-align: left;
  color: #404040;
  max-width: 324px;
}
body main .feedback .questionsForm {
  max-width: 864px;
  width: 100%;
  background: #FFCC10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .feedback .questionsForm .formTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #404040;
}
body main .feedback .questionsForm .formTitle a {
  color: #404040;
}
body main .feedback .questionsForm hr {
  border: 0.5px solid #404040;
  max-width: 412px;
  width: 100%;
  margin: 15px 0 36px;
}
body main .feedback .questionsForm form {
  max-width: 412px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .feedback .questionsForm form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.4);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  padding-bottom: 7px;
  outline: none;
  margin-bottom: 35px;
}
body main .feedback .questionsForm form input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}
body main .feedback .questionsForm form button {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 17px 5px;
  width: 333px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  margin: 0 auto;
}
body main .feedback .questionsForm form .policy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  margin-top: 13px;
}
body footer {
  background: #3E3E3E;
  padding-top: 28px;
}
body footer .wrapper {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
body footer .wrapper .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 510px;
  width: 100%;
}
body footer .wrapper .contacts .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 88.9%;
  text-align: center;
  color: #FFFFFF;
  margin: 33px 0 24px;
}
body footer .wrapper .contacts .contactItem {
  display: flex;
  align-items: center;
}
body footer .wrapper .contacts .contactItem .icon {
  width: 49px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body footer .wrapper .contacts .contactItem p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
}
body footer .wrapper .contacts .contactItem a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
}
body footer .wrapper .contacts .itemPhone a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFCC10;
}
body footer .wrapper .contacts .seeAll {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-left: 49px;
  margin-bottom: 51px;
  margin-top: 10px;
}
body footer .wrapper .menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 155px;
}
body footer .wrapper .menu a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
  margin-bottom: 23px;
}
body footer .wrapper .menu a:last-child {
  margin-bottom: unset;
}
body footer .offerta {
  margin-top: 75px;
  padding-bottom: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 88.9%;
  text-align: center;
  color: #FFFFFF;
}
body footer .offerta a {
  opacity: 0.4;
  color: #FFFFFF;
  text-decoration: underline;
}
body footer .mobCity {
  display: none;
}

@media (max-width: 910px) {
  body header {
    padding: 0 16px;
    height: 54px;
  }
  body header .wrapper {
    max-width: 100%;
  }
  body header .wrapper .burger {
    display: block;
  }
  body header .wrapper img {
    width: 95px;
  }
  body header .wrapper .headerItem:nth-child(2n) {
    display: none;
  }
  body header .wrapper .headerItem p {
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper .headerItem .headerItem__city {
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper .headerItem .headerItem__tel {
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper button {
    display: none;
  }
  body main {
    padding-top: 54px;
  }
  body main nav {
    padding: 13px 16px;
  }
  body main nav .breadcrumbs a {
    font-size: 8px;
    line-height: 88.9%;
  }
  body main .yellowBlock {
    width: 204px;
    height: 243px;
    left: 0px;
    top: 45px;
    background: #FFCC10;
    border-radius: 0px;
  }
  body main .banner {
    padding-left: 16px;
    flex-direction: column;
    margin-left: unset;
  }
  body main .banner h1 {
    font-size: 19px;
    line-height: 100%;
    margin-top: 15px;
    padding: 0;
    max-width: 164px;
  }
  body main .banner .macbook {
    display: none;
  }
  body main .banner .minibook {
    display: block;
    position: absolute;
    top: 36px;
    right: 0;
  }
  body main .banner .tabs {
    position: relative;
    flex-direction: column;
    height: unset;
    width: unset;
    border: none;
    align-items: flex-start;
  }
  body main .banner .tabs .tab {
    padding: 0;
    border: none;
    display: block;
    text-align: left;
    font-size: 9px;
    line-height: 88.9%;
    margin-top: 10px;
  }
  body main .catalog {
    margin-top: 26px;
  }
  body main .catalog h2 {
    font-size: 16px;
    line-height: 100%;
    margin: 36px 0 10px;
  }
  body main .catalog .subtitle {
    font-size: 10px;
    line-height: 100%;
    margin-bottom: 17px;
  }
  body main .catalog hr {
    max-width: 289px;
  }
  body main .catalog .items .item {
    padding-bottom: 38px;
    margin-top: 30px;
    flex-direction: column;
  }
  body main .catalog .items .item .itemPic {
    margin: 0 auto 14px;
    max-height: 122px;
    width: auto;
  }
  body main .catalog .items .item .itemContent {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  body main .catalog .items .item .itemContent .title {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 10px;
  }
  body main .catalog .items .item .itemContent .description {
    max-width: unset;
  }
  body main .catalog .items .item .itemContent .info .brand {
    font-size: 9px;
    line-height: 100%;
    margin-bottom: 5px;
    margin-right: -15px;
  }
  body main .catalog .items .item .itemContent .info .country {
    font-size: 9px;
    line-height: 100%;
    margin-right: 30px;
  }
  body main .catalog .items .item .itemContent .info .rules p {
    font-size: 9px;
    line-height: 100%;
  }
  body main .catalog .items .item .line {
    display: none;
  }
  body main .catalog .items .item .order {
    margin-top: 31px;
  }
  body main .catalog .items .item .order .btnTitle {
    font-size: 13px;
    line-height: 100%;
  }
  body main .solutions .truck {
    display: none;
  }
  body main .solutions .choose {
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
  body main .solutions .choose hr {
    margin-bottom: 9px;
  }
  body main .solutions .choose .miniTruck {
    display: block;
    margin-top: 19px;
    margin-bottom: 10px;
  }
  body main .solutions .choose .mobTabs {
    display: flex;
  }
  body main .solutions .choose .mobTabs select {
    margin: 0 auto;
    border: none;
    width: 100px;
  }
  body main .solutions .choose .mobTabs select option {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: #404040;
  }
  body main .solutions .choose .equipment {
    padding: 0 16px;
    margin-bottom: 18px;
  }
  body main .solutions .choose .equipment .equipmentTitle {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 6px;
  }
  body main .solutions .choose .equipment .equipmentSubtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .solutions .choose .control {
    padding: 0 16px;
    margin-bottom: 27px;
  }
  body main .solutions .choose .control .controlTitle {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 5px;
  }
  body main .solutions .choose .control .controlSubtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .solutions .choose .getSolution {
    margin: 0 auto;
    padding: 15px 14px;
    font-size: 10px;
    line-height: 12px;
  }
  body main .feedback {
    flex-direction: column;
  }
  body main .feedback .questions {
    justify-content: center;
    align-items: center;
    height: unset;
    max-width: 100%;
  }
  body main .feedback .questions .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  body main .feedback .questions .block .title {
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    margin-top: 35px;
  }
  body main .feedback .questions .block .subtitle {
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    margin-top: 10px;
    max-width: 246px;
    margin-bottom: 28px;
  }
  body main .feedback .questionsForm {
    padding: 17px 0;
    max-width: 100%;
  }
  body main .feedback .questionsForm .formTitle {
    font-size: 11px;
    line-height: 100%;
  }
  body main .feedback .questionsForm hr {
    width: 288px;
    margin: 18px 0 26px;
  }
  body main .feedback .questionsForm form {
    max-width: 288px;
    margin: 0 auto;
  }
  body main .feedback .questionsForm form button {
    width: 188px;
    font-size: 10px;
    line-height: 12px;
  }
  body footer .wrapper {
    max-width: 100%;
    width: 288px;
    padding: 16px;
    flex-direction: column;
  }
  body footer .wrapper .contacts {
    align-items: center;
  }
  body footer .wrapper .contacts .logo {
    width: 150px;
    margin-right: auto;
  }
  body footer .wrapper .contacts .title {
    font-size: 16px;
  }
  body footer .wrapper .contacts .contactItem {
    flex-direction: column;
  }
  body footer .wrapper .contacts .contactItem p {
    font-size: 10px;
  }
  body footer .wrapper .contacts .seeAll {
    font-size: 10px;
    margin: 10px auto;
  }
  body footer .wrapper .menu {
    display: none;
  }
  body footer .offerta {
    border-top: 1px solid #FFFFFF;
    padding-top: 16px;
    font-size: 12px;
  }
  body footer .mobCity {
    font-family: "Montserrat";
    font-size: 12px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
  }
  body footer .mobCity .city {
    color: #FFFFFF;
  }
  body footer .mobCity .city a {
    color: #FFFFFF;
  }
  body footer .mobCity a {
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
