body {
  margin: 0;
  padding: 0;
}
body h1, body h2, body p, body a, body button, body img {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}
body button {
  cursor: pointer;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 143px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
body header .wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .wrapper .burger {
  display: none;
}
body header .wrapper .headerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}
body header .wrapper .headerItem .headerItem__city {
  font-size: 15px;
  line-height: 88.9%;
  margin-bottom: 19px;
}
body header .wrapper .headerItem .headerItem__city a {
  color: #000000;
  text-decoration: underline;
}
body header .wrapper .headerItem .headerItem__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 88.9%;
  color: #404040;
}
body header .wrapper button {
  border: 1px solid #FFCC10;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 18px 40px;
  background: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
body main {
  overflow-x: hidden;
  padding-top: 143px;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
body main nav {
  position: relative;
  padding-top: 27px;
  padding-left: 18vw;
  z-index: 1;
}
body main nav .breadcrumbs {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 88.9%;
  color: #000000;
}
body main nav .breadcrumbs a {
  color: #000000;
}
body main .banner {
  position: relative;
  display: flex;
  margin-left: auto;
}
body main .banner .yellowBlock {
  position: absolute;
  width: 622px;
  height: 610px;
  left: -214px;
  top: -67px;
  background: #FFCC10;
  z-index: 0;
}
body main .banner h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  padding-top: 111px;
  position: relative;
  z-index: 1;
}
body main .banner .tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 197px;
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 0px;
  display: flex;
  z-index: 1;
}
body main .banner .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  min-width: 207px;
}
body main .banner .tabs .tab:first-child {
  border-right: 1px solid #404040;
}
body main .banner .macbook {
  position: relative;
  z-index: 2;
}
body main .banner .minibook {
  display: none;
}
body main .settingsBanner {
  flex-direction: column;
  margin-left: 15vw;
  margin-bottom: 52px;
}
body main .settingsBanner .yellowBlock {
  left: -101px;
}
body main .settingsBanner .yellowBlock .bottomLine {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background: #404040;
}
body main .settingsBanner .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 281px;
  max-width: 411px;
  margin-top: 25px;
  position: relative;
}
body main .settingsBanner .glonas {
  position: absolute;
  z-index: 2;
  bottom: -25px;
  left: 216px;
  max-height: 360px;
  width: fit-content;
}
body main .settingsBanner .miniGlonas {
  display: none;
}
body main .settingsBanner .bannerForm {
  position: absolute;
  width: 373px;
  height: 410px;
  bottom: 79px;
  right: 15vw;
  background: #FFFFFF;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
  border-radius: 19px;
}
body main .settingsBanner .bannerForm form {
  padding: 41px 19px;
  display: flex;
  flex-direction: column;
}
body main .settingsBanner .bannerForm form .formTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #404040;
  margin-bottom: 53px;
}
body main .settingsBanner .bannerForm form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  padding-bottom: 7.5px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.4);
  margin-bottom: 34px;
}
body main .settingsBanner .bannerForm form input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  opacity: 0.4;
}
body main .settingsBanner .bannerForm form button {
  width: 333.32px;
  height: 50px;
  background: #FFCC10;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}
body main .settingsBanner .bannerForm form button p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .settingsBanner .bannerForm form .policy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  margin-top: 20px;
}
body main .catalog h2 {
  margin: 80px 0 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .catalog .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #404040;
  max-width: 970px;
  margin: 0 auto 29px;
}
body main .catalog hr {
  background: #404040;
  max-width: 1276px;
}
body main .catalog .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 74px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.4);
}
body main .catalog .item .itemPic {
  margin-right: 99px;
  width: 300px;
}
body main .catalog .item .itemContent {
  display: flex;
  flex-direction: column;
}
body main .catalog .item .itemContent .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 33px;
}
body main .catalog .item .itemContent .description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  max-width: 575px;
  margin-bottom: 15px;
}
body main .catalog .item .itemContent .info {
  display: flex;
}
body main .catalog .item .itemContent .info .brand, body main .catalog .item .itemContent .info .country {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #797979;
  margin-right: 27px;
}
body main .catalog .item .itemContent .info .country {
  margin-right: 86px;
}
body main .catalog .item .itemContent .info .rules {
  display: flex;
  align-items: center;
}
body main .catalog .item .itemContent .info .rules p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #404040;
}
body main .catalog .item .itemContent .info .rules p a {
  color: #404040;
  text-decoration: underline;
}
body main .catalog .item .line {
  background: rgba(121, 121, 121, 0.4);
  width: 1px;
  height: 210px;
  margin: 0 42px 0 20px;
}
body main .catalog .item .order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .catalog .item .order .btnTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 21px;
}
body main .catalog .item .order button {
  padding: 18px 5px;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #404040;
  width: 227px;
}
body main .catalog .item .order .buyBtn {
  margin-bottom: 8px;
  background: #FFCC10;
}
body main .catalog .item .order .orderBtn {
  border: 1px solid #404040;
  box-sizing: border-box;
  background: #FFFFFF;
}
body main .catalog .item:nth-child(4n) {
  border-bottom: none;
}
body main .catalog .shortItems .item:nth-child(3n) {
  border-bottom: none;
}
body main .catalog .shortItems .item:nth-child(5n) {
  margin-top: 18px;
  border-bottom: none;
}
body main .catalog .shortItems .software {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .expenses {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  max-height: 818px;
}
body main .expenses .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 54px;
  max-width: 354px;
  margin-top: 62px;
}
body main .expenses .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  max-width: 354px;
  margin-bottom: 52px;
}
body main .expenses .diagramBlock {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
body main .expenses .diagramBlock .item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
body main .expenses .diagramBlock .item img {
  margin-right: 20px;
}
body main .expenses .diagramBlock .item p {
  max-width: 250px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #404040;
}
body main .expenses .perkBlock {
  display: flex;
  flex-flow: column wrap;
  padding-top: 60px;
  max-height: 818px;
  padding-left: 21px;
  margin-left: -250px;
  border-left: 1px solid #404040;
}
body main .expenses .perkBlock .item {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-right: 34px;
}
body main .expenses .perkBlock .item img {
  margin-right: 27px;
}
body main .expenses .perkBlock .item p {
  max-width: 324px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: #404040;
}
body main .satelliteBlock {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
body main .satelliteBlock .title {
  padding-top: 185px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 25px;
  max-width: 520px;
}
body main .satelliteBlock .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: #404040;
  max-width: 522px;
}
body main .satelliteBlock .content {
  margin-left: auto;
  position: relative;
}
body main .satelliteBlock .content .markers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
body main .satelliteBlock .content .markers .marker {
  position: absolute;
  cursor: pointer;
}
body main .satelliteBlock .content .markers .marker .cloud {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 23px 20px;
  position: absolute;
  bottom: -170px;
  width: 437px;
  left: 50%;
  transform: translateX(-50%);
  height: 115px;
}
body main .satelliteBlock .content .markers .marker .cloud .cloudTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  max-width: 270px;
  margin-bottom: 13px;
}
body main .satelliteBlock .content .markers .marker .cloud .cloudSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #404040;
}
body main .satelliteBlock .content .markers .marker:hover .cloud {
  opacity: 1;
  z-index: 3;
}
body main .satelliteBlock .content .markers .first {
  top: 247px;
  left: 43px;
}
body main .satelliteBlock .content .markers .second {
  top: 112px;
  left: 150px;
}
body main .satelliteBlock .content .markers .third {
  top: 103px;
  left: 448px;
}
body main .satelliteBlock .content .markers .fourth {
  bottom: 203px;
  left: 448px;
}
body main .satelliteBlock .mobileContent {
  display: none;
}
body main .priceBlock {
  max-width: 1276px;
  margin: 35px auto 100px;
}
body main .priceBlock .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 33px;
}
body main .priceBlock .prices {
  width: 100%;
  display: flex;
}
body main .priceBlock .prices .column .item {
  border-right: 1px solid rgba(121, 121, 121, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  height: 62px;
  text-align: center;
}
body main .priceBlock .prices .column .head {
  background: #FFCC10;
  text-align: center;
  border-right: 1px solid #797979;
}
body main .priceBlock .prices .first .item {
  width: 216px;
}
body main .priceBlock .prices .second .item {
  display: flex;
  flex-direction: column;
  width: 304px;
}
body main .priceBlock .prices .second .item .oldPrice {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: line-through;
  color: #404040;
}
body main .priceBlock .prices .second .item .newPrice {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #404040;
}
body main .priceBlock .prices .third .item {
  width: 236px;
}
body main .priceBlock .prices .fourth .item {
  width: 305px;
}
body main .priceBlock .prices .fifth .item {
  width: 215px;
  border: none;
  font-size: 14px;
  line-height: 100%;
}
body main .devicesBlock {
  max-width: 1285px;
  margin: 0 auto 83px;
  display: flex;
}
body main .devicesBlock .info .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  margin-right: 26px;
  max-width: 455px;
}
body main .devicesBlock .info button {
  background: #FFCC10;
  border-radius: 6px;
  padding: 18px 33px;
  margin-top: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #404040;
}
body main .devicesBlock .devices {
  display: flex;
  position: relative;
  padding-left: 42px;
}
body main .devicesBlock .devices .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #404040;
  top: 55px;
}
body main .devicesBlock .devices .item {
  position: relative;
  margin-right: 156px;
}
body main .devicesBlock .devices .item p {
  max-width: 121px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #404040;
  margin-top: 18px;
}
body main .devicesBlock .devices .item:last-child {
  margin-right: unset;
}
body main .solutions {
  display: flex;
}
body main .solutions .miniTruck {
  display: none;
}
body main .solutions .truck {
  position: relative;
  display: flex;
}
body main .solutions .truck .truckPic {
  max-width: 928px;
}
body main .solutions .truck .switch {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: rgba(101, 101, 101, 0.5);
  cursor: pointer;
}
body main .solutions .truck .active {
  color: #404040;
}
body main .solutions .truck .cargo {
  top: 183px;
  right: -68px;
}
body main .solutions .truck .taxi {
  top: 274px;
  right: -168px;
}
body main .solutions .truck .corp {
  top: 384px;
  right: -162px;
}
body main .solutions .truck .spec {
  top: 527px;
  right: -125px;
}
body main .solutions .truck .passenger {
  top: 622px;
  right: -152px;
}
body main .solutions .choose {
  max-width: 408px;
  margin-left: 250px;
}
body main .solutions .choose .mobTabs {
  display: none;
}
body main .solutions .choose .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 20px;
}
body main .solutions .choose .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 44px;
}
body main .solutions .choose hr {
  border: 1px solid #404040;
  margin-bottom: 95px;
}
body main .solutions .choose .equipment {
  margin-bottom: 55px;
}
body main .solutions .choose .equipment .equipmentTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 27px;
}
body main .solutions .choose .equipment .equipmentSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #797979;
}
body main .solutions .choose .control {
  margin-bottom: 55px;
}
body main .solutions .choose .control .controlTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #797979;
  margin-bottom: 21px;
}
body main .solutions .choose .control .controlSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #797979;
}
body main .solutions .choose .getSolution {
  padding: 18px 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  background: #FFCC10;
  border-radius: 6px;
}
body main .benefits {
  display: flex;
  max-width: 1285px;
  margin: 83px auto 74px;
}
body main .benefits .block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-right: 20px;
  max-width: 843px;
  width: 100%;
}
body main .benefits .block .info {
  padding-bottom: 54px;
  border-bottom: 1px solid #797979;
  margin-bottom: 19px;
  width: 100%;
}
body main .benefits .block .info .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  max-width: 554px;
}
body main .benefits .block .info .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #404040;
  max-width: 799px;
  margin-top: 27px;
}
body main .benefits .block .perks .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 88.9%;
  color: #404040;
  margin-bottom: 35px;
}
body main .benefits .block .perks .items {
  display: flex;
  flex-flow: row wrap;
}
body main .benefits .block .perks .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 101px;
  margin-bottom: 31px;
}
body main .benefits .block .perks .items .item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  max-width: 209px;
  margin-top: 22px;
}
body main .benefits .block .perks .items .item:nth-child(3n+3) {
  margin-right: unset;
}
body main .benefits .buy {
  border: 1px solid #797979;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 641px;
}
body main .benefits .buy .list {
  padding-left: 18px;
}
body main .benefits .buy .list ul {
  margin-top: 46px;
}
body main .benefits .buy .list ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 88.9%;
  color: #404040;
  padding-left: 13px;
  margin-bottom: 37px;
}
body main .benefits .buy .list ul li:last-child {
  margin-bottom: unset;
}
body main .benefits .buy button {
  margin-top: auto;
  background: #FFCC10;
  border-radius: 6px;
  padding: 17px 23px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}
body main .examples {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto 85px;
}
body main .examples .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 65px;
}
body main .examples .items {
  display: flex;
  flex-flow: row wrap;
}
body main .examples .items .item {
  width: 169px;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #797979;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 26px;
}
body main .examples .items .item:nth-child(7n+7) {
  margin-right: unset;
}
body main .feedback {
  display: flex;
}
body main .feedback .questions {
  max-width: 734px;
  width: 100%;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .feedback .questions .block {
  margin-left: auto;
  margin-right: 28px;
}
body main .feedback .questions .block .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #404040;
  text-align: left;
  margin-bottom: 9px;
}
body main .feedback .questions .block .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-align: left;
  color: #404040;
  max-width: 324px;
}
body main .feedback .questionsForm {
  max-width: 864px;
  width: 100%;
  background: #FFCC10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .feedback .questionsForm .formTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #404040;
}
body main .feedback .questionsForm .formTitle a {
  color: #404040;
}
body main .feedback .questionsForm hr {
  border: 0.5px solid #404040;
  max-width: 412px;
  width: 100%;
  margin: 15px 0 36px;
}
body main .feedback .questionsForm form {
  max-width: 412px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .feedback .questionsForm form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.4);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  padding-bottom: 7px;
  outline: none;
  margin-bottom: 35px;
}
body main .feedback .questionsForm form input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  opacity: 0.4;
}
body main .feedback .questionsForm form button {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 17px 5px;
  width: 333px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  margin: 0 auto;
}
body main .feedback .questionsForm form .policy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 88.9%;
  text-align: center;
  color: #404040;
  margin-top: 13px;
}
body footer {
  background: #3E3E3E;
  padding-top: 28px;
}
body footer .wrapper {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
body footer .wrapper .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 510px;
  width: 100%;
}
body footer .wrapper .contacts .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 88.9%;
  text-align: center;
  color: #FFFFFF;
  margin: 33px 0 24px;
}
body footer .wrapper .contacts .contactItem {
  display: flex;
  align-items: center;
}
body footer .wrapper .contacts .contactItem .icon {
  width: 49px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body footer .wrapper .contacts .contactItem p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
}
body footer .wrapper .contacts .contactItem a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
}
body footer .wrapper .contacts .itemPhone a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFCC10;
}
body footer .wrapper .contacts .seeAll {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-left: 49px;
  margin-bottom: 51px;
  margin-top: 10px;
}
body footer .wrapper .menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 155px;
}
body footer .wrapper .menu a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 88.9%;
  color: #FFFFFF;
  margin-bottom: 23px;
}
body footer .wrapper .menu a:last-child {
  margin-bottom: unset;
}
body footer .offerta {
  margin-top: 75px;
  padding-bottom: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 88.9%;
  text-align: center;
  color: #FFFFFF;
}
body footer .offerta a {
  opacity: 0.4;
  color: #FFFFFF;
  text-decoration: underline;
}
body footer .mobCity {
  display: none;
}
body .mask {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
body .mask .popup {
  width: 741px;
  height: 465px;
  background: #FFFFFF;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
  border-radius: 19px;
  position: relative;
}
body .mask .popup .offer {
  position: absolute;
  top: -41px;
  right: 380px;
  z-index: 0;
}
body .mask .popup .xclose {
  position: absolute;
  cursor: pointer;
  top: -22px;
  right: -22px;
  z-index: 0;
}
body .mask .popup .content {
  margin-top: 58px;
  margin-left: 307px;
  display: flex;
  flex-direction: column;
  max-width: 391px;
}
body .mask .popup .content .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 14px;
}
body .mask .popup .content .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #404040;
  margin-bottom: 42px;
}
body .mask .popup .content input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.4);
  margin-bottom: 34px;
  padding-bottom: 7.5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
}
body .mask .popup .content input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 88.9%;
  color: #000000;
  opacity: 0.4;
}
body .mask .popup .content button {
  background: #FFCC10;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  padding: 17px 60px;
  margin-top: 12px;
}
body .mask .popup .content .accept {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 88.9%;
  color: #404040;
  margin-top: 20px;
}

@media (max-width: 1500px) {
  body header .wrapper {
    max-width: 1150px;
  }
  body main {
    max-width: 1150px;
    margin: 0 auto;
  }
  body main nav {
    padding-left: 50px;
  }
  body main .banner .macbook {
    width: 50%;
    margin-left: auto;
  }
  body main .banner .yellowBlock {
    top: -224px;
  }
  body main .banner h1 {
    font-size: 36px;
    padding-top: 57px;
    padding-left: 50px;
  }
  body main .settingsBanner {
    width: 100%;
    margin-left: 7vw;
  }
  body main .settingsBanner h1 {
    padding-left: unset;
  }
  body main .settingsBanner .glonas {
    bottom: 19px;
    left: 92px;
    width: 444px;
  }
  body main .settingsBanner .bannerForm {
    right: 9vw;
  }
  body main .priceBlock .prices .column .item {
    max-width: 200px;
  }
  body main .benefits .block .perks .items .item {
    margin-right: 42px;
  }
  body main .examples .items .item {
    width: 156px;
    height: 156px;
    margin-right: 7px;
    margin-bottom: 15px;
  }
  body main .examples .items .item img {
    width: 100px;
  }
  body main .solutions {
    margin-bottom: 30px;
  }
  body main .solutions .truck {
    width: 732px;
    height: fit-content;
  }
  body main .solutions .truck .truckPic {
    width: 532px;
  }
  body main .solutions .truck .cargo {
    top: 101px;
    right: 68px;
  }
  body main .solutions .truck .taxi {
    top: 154px;
    right: 12px;
  }
  body main .solutions .truck .corp {
    top: 209px;
    right: 22px;
  }
  body main .solutions .truck .spec {
    top: 303px;
    right: 65px;
  }
  body main .solutions .truck .passenger {
    top: 355px;
    right: 18px;
  }
  body main .solutions .choose {
    margin-left: 10px;
  }
  body main .solutions .choose .subtitle {
    margin-bottom: 15px;
  }
  body main .solutions .choose hr {
    margin-bottom: 25px;
  }
  body main .solutions .choose .equipment {
    margin-bottom: 32px;
  }
  body footer .wrapper {
    max-width: 1150px;
  }
}
@media (max-width: 1050px) {
  body header {
    height: 54px;
  }
  body header .wrapper {
    max-width: unset;
    width: unset;
    padding: 0 16px;
  }
  body header .wrapper .burger {
    display: block;
  }
  body header .wrapper img {
    width: 95px;
  }
  body header .wrapper .headerItem:nth-child(2n) {
    display: none;
  }
  body header .wrapper .headerItem p {
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper .headerItem .headerItem__city {
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper .headerItem .headerItem__tel {
    font-size: 10px;
    line-height: 88.9%;
    text-align: right;
  }
  body header .wrapper button {
    display: none;
  }
  body main {
    max-width: 600px;
    padding-top: 50px;
  }
  body main nav {
    padding-left: 20px;
  }
  body main .banner .yellowBlock {
    top: -408px;
    left: -407px;
  }
  body main .banner h1 {
    font-size: 23px;
    padding-top: 11px;
    padding-left: 20px;
  }
  body main .banner .tabs {
    height: 70px;
  }
  body main .banner .tabs .tab {
    min-width: 70px;
    font-size: 12px;
    padding: 10px;
  }
  body main .settingsBanner {
    margin-left: unset;
  }
  body main .settingsBanner .glonas {
    display: none;
  }
  body main .settingsBanner .miniGlonas {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  body main .settingsBanner .bannerForm {
    position: relative;
    right: unset;
    bottom: unset;
    width: 100%;
    height: fit-content;
    border-radius: unset;
  }
  body main .settingsBanner .bannerForm form button {
    margin: 26px auto 0;
  }
  body main .settingsBanner .bannerForm form .policy {
    max-width: 254px;
    margin: 20px auto 0;
  }
  body main .settingsBanner .subtitle {
    margin-bottom: 60px;
    padding-left: 20px;
  }
  body main .expenses {
    flex-flow: column;
    max-height: unset;
    align-items: center;
  }
  body main .expenses .title {
    order: 0;
    text-align: center;
  }
  body main .expenses .subtitle {
    order: 1;
    text-align: center;
    margin-bottom: 34px;
  }
  body main .expenses .diagramBlock {
    order: 3;
  }
  body main .expenses .perkBlock {
    order: 2;
    flex-flow: column;
    margin: 0 0 15px;
    border: none;
    padding: 0 0 33px;
    border-bottom: 1px solid #404040;
  }
  body main .expenses .perkBlock .item {
    margin-bottom: 15px;
    margin-right: unset;
  }
  body main .catalog {
    margin-top: 26px;
  }
  body main .catalog h2 {
    font-size: 16px;
    line-height: 100%;
    margin: 36px 0 10px;
  }
  body main .catalog .subtitle {
    font-size: 10px;
    line-height: 100%;
    margin-bottom: 17px;
  }
  body main .catalog hr {
    max-width: 289px;
  }
  body main .catalog .items .item {
    padding-bottom: 38px;
    margin-top: 30px;
    flex-direction: column;
  }
  body main .catalog .items .item .itemPic {
    margin: 0 auto 14px;
    max-height: 122px;
    width: auto;
  }
  body main .catalog .items .item .itemContent {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  body main .catalog .items .item .itemContent .title {
    margin-bottom: 10px;
  }
  body main .catalog .items .item .itemContent .description {
    max-width: unset;
  }
  body main .catalog .items .item .itemContent .info .brand {
    font-size: 9px;
    line-height: 100%;
    margin-bottom: 5px;
    margin-right: -15px;
  }
  body main .catalog .items .item .itemContent .info .country {
    font-size: 9px;
    line-height: 100%;
    margin-right: 30px;
  }
  body main .catalog .items .item .itemContent .info .rules p {
    font-size: 9px;
    line-height: 100%;
  }
  body main .catalog .items .item .line {
    display: none;
  }
  body main .catalog .items .item .order {
    margin-top: 31px;
  }
  body main .catalog .items .item .order .btnTitle {
    font-size: 13px;
    line-height: 100%;
  }
  body main .satelliteBlock {
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }
  body main .satelliteBlock .info .title {
    padding-top: 40px;
    text-align: center;
  }
  body main .satelliteBlock .info .subtitle {
    text-align: center;
    margin-bottom: 34px;
  }
  body main .satelliteBlock .content {
    display: none;
  }
  body main .satelliteBlock .mobileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    width: 100%;
  }
  body main .satelliteBlock .mobileContent .item {
    background: #FFFFFF;
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 128px;
    padding: 21px 10px;
    margin-bottom: 12px;
  }
  body main .satelliteBlock .mobileContent .item:last-child {
    margin-bottom: unset;
  }
  body main .satelliteBlock .mobileContent .item .itemTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #404040;
    margin-bottom: 15px;
  }
  body main .satelliteBlock .mobileContent .item .itemSubtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #404040;
  }
  body main .priceBlock {
    max-width: 600px;
    margin-top: 49px;
  }
  body main .priceBlock .title {
    font-size: 24px;
  }
  body main .priceBlock .prices {
    justify-content: center;
  }
  body main .priceBlock .prices .column .item {
    width: auto;
    max-width: 150px;
    font-size: 12px;
    line-height: 100%;
  }
  body main .priceBlock .prices .column .second .oldPrice {
    font-size: 10px;
  }
  body main .priceBlock .prices .column .second .newPrice {
    font-size: 12px;
  }
  body main .devicesBlock {
    max-width: 600px;
    flex-direction: column;
    position: relative;
  }
  body main .devicesBlock .info .title {
    text-align: center;
  }
  body main .devicesBlock .info button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  body main .devicesBlock .devices {
    padding: 0;
    margin-bottom: 69px;
    margin-top: 25px;
    justify-content: space-between;
  }
  body main .devicesBlock .devices .line {
    display: none;
  }
  body main .devicesBlock .devices .item {
    margin: 0;
  }
  body main .solutions {
    margin: 0 auto;
  }
  body main .solutions .truck {
    display: none;
  }
  body main .solutions .choose {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: unset;
  }
  body main .solutions .choose hr {
    margin-bottom: 9px;
    width: 100%;
  }
  body main .solutions .choose .miniTruck {
    display: block;
    margin-top: 19px;
    margin-bottom: 10px;
  }
  body main .solutions .choose .mobTabs {
    display: flex;
  }
  body main .solutions .choose .mobTabs select {
    margin: 0 auto;
    border: none;
    width: fit-content;
    outline: none;
  }
  body main .solutions .choose .mobTabs select option {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: #404040;
  }
  body main .solutions .choose .equipment {
    padding: 0 16px;
    margin-bottom: 18px;
  }
  body main .solutions .choose .equipment .equipmentTitle {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 6px;
  }
  body main .solutions .choose .equipment .equipmentSubtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .solutions .choose .control {
    padding: 0 16px;
    margin-bottom: 27px;
  }
  body main .solutions .choose .control .controlTitle {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 5px;
  }
  body main .solutions .choose .control .controlSubtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .solutions .choose .getSolution {
    margin: 0 auto;
    padding: 15px 14px;
    font-size: 10px;
    line-height: 12px;
  }
  body main .benefits {
    max-width: 600px;
    flex-direction: column;
  }
  body main .benefits .block {
    padding: 0;
    margin: 0;
  }
  body main .benefits .block .info {
    padding-bottom: 30px;
  }
  body main .benefits .block .info .title {
    text-align: center;
  }
  body main .benefits .block .info .subtitle {
    text-align: center;
  }
  body main .benefits .block .perks {
    max-width: 288px;
    margin: 0 auto;
  }
  body main .benefits .block .perks .title {
    text-align: center;
  }
  body main .benefits .block .perks .items .item {
    margin-right: 13px;
  }
  body main .benefits .block .perks .items .item p {
    font-size: 12px;
    max-width: 131px;
  }
  body main .benefits .block .perks .items .item:nth-child(3n+3) {
    margin-right: 13px;
  }
  body main .benefits .block .perks .items .item:nth-child(2n+2) {
    margin-right: unset;
  }
  body main .feedback {
    flex-direction: column;
    margin-bottom: 35px;
  }
  body main .feedback .questions {
    justify-content: center;
    align-items: center;
    height: unset;
    max-width: 100%;
  }
  body main .feedback .questions .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  body main .feedback .questions .block .title {
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    margin-top: 35px;
  }
  body main .feedback .questions .block .subtitle {
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    margin-top: 10px;
    max-width: 246px;
    margin-bottom: 28px;
  }
  body main .feedback .questionsForm {
    padding: 17px 0;
    max-width: 100%;
  }
  body main .feedback .questionsForm .formTitle {
    font-size: 11px;
    line-height: 100%;
  }
  body main .feedback .questionsForm hr {
    width: 288px;
    margin: 18px 0 26px;
  }
  body main .feedback .questionsForm form {
    max-width: 288px;
    margin: 0 auto;
  }
  body main .feedback .questionsForm form button {
    width: 188px;
    font-size: 10px;
    line-height: 12px;
  }
  body main .examples .title {
    margin-bottom: 29px;
  }
  body main .examples .items {
    max-width: 288px;
    margin: 0 auto;
    justify-content: center;
  }
  body main .examples .items .item {
    width: 90px;
    height: 90px;
    margin-right: 9px;
  }
  body main .examples .items .item img {
    width: 70px;
  }
  body main .examples .items .item:nth-child(7n+7) {
    margin-right: 9px;
  }
  body main .examples .items .item:nth-child(3n+3) {
    margin-right: unset;
  }
  body footer .wrapper {
    max-width: 600px;
  }
  body .mask .popup {
    width: unset;
  }
  body .mask .popup .offer {
    display: none;
  }
  body .mask .popup .content {
    margin: 0 auto;
    padding: 20px 40px;
  }
}
@media (max-width: 600px) {
  body main {
    padding-top: 54px;
  }
  body main nav {
    padding: 13px 16px;
  }
  body main nav .breadcrumbs a {
    font-size: 8px;
    line-height: 88.9%;
  }
  body main .banner {
    padding-left: 16px;
    flex-direction: column;
    margin-left: unset;
  }
  body main .banner .yellowBlock {
    width: 204px;
    height: 243px;
    left: 0px;
    top: -38px;
    background: #FFCC10;
    border-radius: 0px;
  }
  body main .banner h1 {
    font-size: 19px;
    line-height: 100%;
    margin-top: 15px;
    padding: 0;
    max-width: 164px;
  }
  body main .banner .macbook {
    display: none;
  }
  body main .banner .minibook {
    display: block;
    position: absolute;
    top: 36px;
    right: 0;
  }
  body main .banner .tabs {
    position: relative;
    flex-direction: column;
    height: unset;
    width: unset;
    border: none;
    align-items: flex-start;
  }
  body main .banner .tabs .tab {
    padding: 0;
    border: none;
    display: block;
    text-align: left;
    font-size: 9px;
    line-height: 88.9%;
    margin-top: 10px;
  }
  body main .banner .tabs .tab:first-child {
    border: none;
  }
  body main .settingsBanner {
    padding: 0;
  }
  body main .settingsBanner h1 {
    padding-left: 16px;
  }
  body main .settingsBanner .subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    color: #404040;
    margin-top: 3px;
    margin-bottom: 42px;
    padding-left: 16px;
    max-width: 138px;
  }
  body main .settingsBanner .bannerForm form button {
    width: 188px;
  }
  body main .expenses {
    max-width: 288px;
  }
  body main .expenses .title {
    margin-top: 0;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 21px;
  }
  body main .expenses .subtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .expenses .perkBlock .item img {
    margin-right: 13px;
  }
  body main .expenses .perkBlock .item p {
    font-size: 12px;
    line-height: 100%;
  }
  body main .expenses .diagramBlock {
    flex-direction: unset;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  body main .expenses .diagramBlock .item {
    flex-direction: column;
    align-items: center;
  }
  body main .expenses .diagramBlock .item img {
    width: 75px;
    height: 75px;
    margin: 0;
  }
  body main .expenses .diagramBlock .item p {
    margin-top: 11px;
    width: 131px;
    font-size: 9px;
    line-height: 100%;
    text-align: center;
  }
  body main .satelliteBlock {
    max-width: 288px;
  }
  body main .satelliteBlock .info .title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  body main .satelliteBlock .info .subtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .satelliteBlock .mobileContent .item {
    padding: 21px 11px;
  }
  body main .satelliteBlock .mobileContent .item .itemTitle {
    font-size: 11px;
    line-height: 100%;
    max-width: 154px;
  }
  body main .satelliteBlock .mobileContent .item .itemSubtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .priceBlock {
    max-width: 100%;
    margin-bottom: 34px;
  }
  body main .priceBlock .title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 31px;
  }
  body main .priceBlock .prices .column .item {
    max-width: 70px;
    font-size: 7px;
    line-height: 100%;
  }
  body main .priceBlock .prices .column .item svg {
    width: 12px;
    height: 12px;
  }
  body main .priceBlock .prices .second .item .oldPrice {
    font-size: 5px;
    line-height: 100%;
  }
  body main .priceBlock .prices .second .item .newPrice {
    font-size: 7px;
    line-height: 100%;
  }
  body main .devicesBlock {
    margin-bottom: 41px;
  }
  body main .devicesBlock .info .title {
    font-size: 16px;
    line-height: 100%;
  }
  body main .devicesBlock .info button {
    font-size: 10px;
    line-height: 12px;
    padding: 15px 14px;
  }
  body main .devicesBlock .devices .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  body main .devicesBlock .devices .item img {
    width: 70px;
  }
  body main .devicesBlock .devices .item p {
    font-size: 9px;
    line-height: 100%;
  }
  body main .catalog .items .item .itemContent .title {
    font-size: 15px;
    line-height: 100%;
  }
  body main .catalog .items .item .itemContent .description {
    font-size: 10px;
    line-height: 10px;
  }
  body main .solutions .choose {
    max-width: 320px;
  }
  body main .solutions .choose .title {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }
  body main .solutions .choose .subtitle {
    font-size: 12px;
    line-height: 100%;
    text-align: center;
  }
  body main .benefits {
    margin-top: 41px;
    max-width: 288px;
    margin-bottom: 38px;
  }
  body main .benefits .block .info .title {
    font-size: 16px;
    line-height: 100%;
  }
  body main .benefits .block .info .subtitle {
    font-size: 10px;
    line-height: 100%;
  }
  body main .benefits .block .perks .title {
    font-size: 12px;
    line-height: 88.9%;
    margin-bottom: 25px;
  }
  body main .benefits .block .perks .items .item p {
    font-size: 9px;
    line-height: 88.9%;
  }
  body main .benefits .buy .list {
    padding-left: 0;
  }
  body main .benefits .buy .list ul {
    margin-top: 30px;
  }
  body main .benefits .buy .list ul li {
    font-size: 12px;
    line-height: 100%;
  }
  body main .benefits .buy button {
    font-size: 10px;
    line-height: 12px;
  }
  body main .examples {
    max-width: 288px;
    margin-bottom: 45px;
  }
  body main .examples .title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 29px;
  }
  body footer .wrapper {
    max-width: 100%;
    width: 288px;
    padding: 16px;
    flex-direction: column;
  }
  body footer .wrapper .contacts {
    align-items: center;
  }
  body footer .wrapper .contacts .logo {
    width: 150px;
    margin-right: auto;
  }
  body footer .wrapper .contacts .title {
    font-size: 16px;
  }
  body footer .wrapper .contacts .contactItem {
    flex-direction: column;
  }
  body footer .wrapper .contacts .contactItem p {
    font-size: 10px;
  }
  body footer .wrapper .contacts .contactItem a {
    font-size: 10px;
  }
  body footer .wrapper .contacts .itemPhone a {
    font-size: 10px;
  }
  body footer .wrapper .contacts .seeAll {
    font-size: 10px;
    margin: 10px auto;
  }
  body footer .wrapper .menu {
    display: none;
  }
  body footer .offerta {
    border-top: 1px solid #FFFFFF;
    padding-top: 16px;
    font-size: 12px;
    margin-top: 10px;
  }
  body footer .mobCity {
    font-family: "Montserrat";
    font-size: 12px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
  }
  body footer .mobCity .city {
    color: #FFFFFF;
  }
  body footer .mobCity .city a {
    color: #FFFFFF;
  }
  body footer .mobCity a {
    color: #FFFFFF;
  }
  body .mask .popup {
    max-width: 280px;
  }
  body .mask .popup .xclose {
    right: 5px;
    top: -30px;
  }
  body .mask .popup .content {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
