body {
  margin: 0;
  padding: 0;

  h1, h2, p, a, button, img {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 143px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .wrapper {
      max-width: 1280px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger {
        display: none;
      }

      .headerItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        text-align: center;
        color: #000000;

        .headerItem__city {
          font-size: 15px;
          line-height: 88.9%;
          margin-bottom: 19px;

          a {
            color: #000000;
            text-decoration: underline;
          }
        }

        .headerItem__tel {
          font-weight: 500;
          font-size: 20px;
          line-height: 88.9%;
          color: #404040;
        }
      }

      button {
        border: 1px solid #FFCC10;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 18px 40px;
        background: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
      }
    }
  }

  main {
    overflow-x: hidden;
    padding-top: 143px;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;

    nav {
      position: relative;
      padding-top: 27px;
      padding-left: 18vw;
      z-index: 1;

      .breadcrumbs {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 88.9%;
        color: #000000;

        a {
          color: #000000;
        }
      }
    }

    .banner {
      position: relative;
      display: flex;
      margin-left: auto;

      .yellowBlock {
        position: absolute;
        width: 622px;
        height: 610px;
        left: -214px;
        top: -67px;
        background: #FFCC10;
        z-index: 0;
      }

      h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 100%;
        text-transform: uppercase;
        color: #404040;
        padding-top: 111px;
        position: relative;
        z-index: 1;
      }

      .tabs {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 197px;
        border: 1px solid #404040;
        box-sizing: border-box;
        border-radius: 0px;
        display: flex;
        z-index: 1;

        .tab {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 88.9%;
          text-align: center;
          color: #404040;
          min-width: 207px;

          &:first-child {
            border-right: 1px solid #404040;
          }
        }
      }
      .macbook {
        position: relative;
        z-index: 2;
      }

      .minibook {
        display: none;
      }
    }
    .settingsBanner{
      flex-direction: column;
      margin-left: 15vw;
      margin-bottom: 52px;
      .yellowBlock{
        left: -101px;
        .bottomLine{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100vw;
          height: 1px;
          background: #404040;
        }
      }
      .subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: #404040;
        margin-bottom: 281px;
        max-width: 411px;
        margin-top: 25px;
        position: relative;
      }
      .glonas{
        position: absolute;
        z-index: 2;
        bottom: -25px;
        left: 216px;
        max-height: 360px;
        width: fit-content;
      }
      .miniGlonas{
        display: none;
      }
      .bannerForm{
        position: absolute;
        width: 373px;
        height: 410px;
        bottom:79px;
        right: 15vw;
        background: #FFFFFF;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
        border-radius: 19px;
        form{
          padding: 41px 19px;
          display: flex;
          flex-direction: column;
          .formTitle{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            color: #404040;
            margin-bottom: 53px;
          }
          input{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 88.9%;
            color: #000000;
            padding-bottom: 7.5px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(64, 64, 64, 0.4);
            margin-bottom: 34px;
            &::placeholder{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 88.9%;
              color: #000000;
              opacity: 0.4;
            }
          }
          button{
            width: 333.32px;
            height: 50px;
            background: #FFCC10;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 26px;
            p{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              text-transform: uppercase;
              color: #404040;
            }
          }
          .policy{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 88.9%;
            text-align: center;
            color: #404040;
            margin-top: 20px;
          }
        }
      }
    }
    .catalog {
      h2 {
        margin: 80px 0 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #404040;
      }

      .subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
        text-align: center;
        color: #404040;
        max-width: 970px;
        margin: 0 auto 29px;
      }

      hr {
        background: #404040;
        max-width: 1276px;
      }

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 74px;
        border-bottom: 1px solid rgba(121, 121, 121, 0.4);

        .itemPic {
          margin-right: 99px;
          width: 300px;
        }

        .itemContent {
          display: flex;
          flex-direction: column;

          .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 100%;
            color: #404040;
            margin-bottom: 33px;
          }

          .description {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #404040;
            max-width: 575px;
            margin-bottom: 15px;
          }

          .info {
            display: flex;

            .brand, .country {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #797979;
              margin-right: 27px;
            }

            .country {
              margin-right: 86px;
            }

            .rules {
              display: flex;
              align-items: center;

              p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                color: #404040;

                a {
                  color: #404040;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .line {
          background: rgba(121, 121, 121, 0.4);
          width: 1px;
          height: 210px;
          margin: 0 42px 0 20px;
        }

        .order {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .btnTitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #797979;
            margin-bottom: 21px;
          }

          button {
            padding: 18px 5px;
            border-radius: 6px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #404040;
            width: 227px;
          }

          .buyBtn {
            margin-bottom: 8px;
            background: #FFCC10;
          }

          .orderBtn {
            border: 1px solid #404040;
            box-sizing: border-box;
            background: #FFFFFF;
          }
        }

        &:nth-child(4n) {
          border-bottom: none;
        }
      }

      .shortItems {
        .item {
          &:nth-child(3n) {
            border-bottom: none;
          }

          &:nth-child(5n) {
            margin-top: 18px;
            border-bottom: none;
          }
        }

        .software {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          color: #404040;
        }
      }
    }

    .expenses{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-flow: column wrap;
      max-height: 818px;
      .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 54px;
        max-width: 354px;
        margin-top: 62px;
      }
      .subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: #404040;
        max-width: 354px;
        margin-bottom: 52px;
      }
      .diagramBlock{
        display: flex;
        flex-direction: column;
        width: fit-content;
        .item{
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          img{
            margin-right: 20px;
          }
          p{
            max-width: 250px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #404040;
          }
        }
      }
      .perkBlock{
        display: flex;
        flex-flow: column wrap;
        padding-top: 60px;
        max-height: 818px;
        padding-left: 21px;
        margin-left: -250px;
        border-left: 1px solid #404040;
        .item{
          display: flex;
          align-items: center;
          margin-bottom: 60px;
          margin-right: 34px;
          img{
            margin-right: 27px;
          }
          p{
            max-width: 324px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 100%;
            color: #404040;
          }
        }
      }
    }

    .satelliteBlock{
      display: flex;
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
      .title{
        padding-top: 185px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 25px;
        max-width: 520px;
      }
      .subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 100%;
        color: #404040;
        max-width: 522px;
      }
      .content{
        margin-left: auto;
        position: relative;
        .markers{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          .marker{
            position: absolute;
            cursor: pointer;
            .cloud{
              opacity: 0;
              pointer-events: none;
              transition: all 0.4s;
              background: #FFFFFF;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 6px;
              padding: 23px 20px;
              position: absolute;
              bottom: -170px;
              width: 437px;
              left: 50%;
              transform: translateX(-50%);
              height: 115px;
              .cloudTitle{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                color: #404040;
                max-width: 270px;
                margin-bottom: 13px;
              }
              .cloudSubtitle{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #404040;
              }
            }
            &:hover{
              .cloud{
                opacity: 1;
                z-index: 3;
              }
            }
          }
          .first{
            top: 247px;
            left: 43px;
          }
          .second{
            top: 112px;
            left: 150px;
          }
          .third{
            top: 103px;
            left: 448px;
          }
          .fourth{
            bottom: 203px;
            left: 448px;
          }
        }
      }
      .mobileContent{
        display: none;
      }
    }

    .priceBlock{
      max-width: 1276px;
      margin: 35px auto 100px;
      .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 33px;
      }
      .prices{
        width: 100%;
        display: flex;
        .column{
          .item{
            border-right: 1px solid rgba(121, 121, 121, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #404040;
            height: 62px;
            text-align: center;
          }
          .head{
            background: #FFCC10;
            text-align: center;
            border-right: 1px solid rgb(121, 121, 121);
          }
        }
        .first{
          .item{
            width: 216px;
          }
        }
        .second{
          .item{
            display: flex;
            flex-direction: column;
            width: 304px;
            .oldPrice{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              text-align: center;
              text-decoration-line: line-through;
              color: #404040;
            }
            .newPrice{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              text-align: center;
              color: #404040;
            }
          }
        }
        .third{
          .item{
            width: 236px;
          }
        }
        .fourth{
          .item{
            width: 305px;
          }
        }
        .fifth{
          .item{
            width: 215px;
            border: none;
            font-size: 14px;
            line-height: 100%;
          }
        }
      }
    }

    .devicesBlock{
      max-width: 1285px;
      margin: 0 auto 83px;
      display: flex;
      .info{
        .title{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 100%;
          text-transform: uppercase;
          color: #404040;
          margin-right: 26px;
          max-width: 455px;
        }
        button{
          background: #FFCC10;
          border-radius: 6px;
          padding: 18px 33px;
          margin-top: 24px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #404040;
        }
      }
      .devices{
        display: flex;
        position: relative;
        padding-left: 42px;
        .line{
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background: #404040;
          top: 55px;
        }
        .item{
          position: relative;
          margin-right: 156px;
          p{
            max-width: 121px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            color: #404040;
            margin-top: 18px;
          }
          &:last-child{
            margin-right: unset;
          }
        }
      }
    }

    .solutions {
      display: flex;

      .miniTruck {
        display: none;
      }

      .truck {
        position: relative;
        display: flex;
        .truckPic{
          max-width: 928px;
        }
        .switch {
          position: absolute;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          color: rgba(101, 101, 101, 0.5);
          cursor: pointer;
        }

        .active {
          color: #404040;
        }

        .cargo {
          top: 183px;
          right: -68px;
        }

        .taxi {
          top: 274px;
          right: -168px;
        }

        .corp {
          top: 384px;
          right: -162px;
        }

        .spec {
          top: 527px;
          right: -125px;
        }

        .passenger {
          top: 622px;
          right: -152px;
        }
      }

      .choose {
        max-width: 408px;
        margin-left: 250px;

        .mobTabs {
          display: none;
        }

        .title {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 100%;
          text-transform: uppercase;
          color: #404040;
          margin-bottom: 20px;
        }

        .subtitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 100%;
          color: #404040;
          margin-bottom: 44px;
        }

        hr {
          border: 1px solid #404040;
          margin-bottom: 95px;
        }

        .equipment {
          margin-bottom: 55px;

          .equipmentTitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: #797979;
            margin-bottom: 27px;
          }

          .equipmentSubtitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #797979;
          }
        }

        .control {
          margin-bottom: 55px;

          .controlTitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: #797979;
            margin-bottom: 21px;
          }

          .controlSubtitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #797979;
          }
        }

        .getSolution {
          padding: 18px 8px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
          background: #FFCC10;
          border-radius: 6px;
        }
      }
    }

    .benefits{
      display: flex;
      max-width: 1285px;
      margin: 83px auto 74px;
      .block{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        margin-right: 20px;
        max-width: 843px;
        width: 100%;
        .info{
          padding-bottom: 54px;
          border-bottom: 1px solid #797979;
          margin-bottom: 19px;
          width: 100%;
          .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            text-transform: uppercase;
            color: #404040;
            max-width: 554px;
          }
          .subtitle{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #404040;
            max-width: 799px;
            margin-top: 27px;
          }
        }
        .perks{
          .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 88.9%;
            color: #404040;
            margin-bottom: 35px;
          }
          .items{
            display: flex;
            flex-flow: row wrap;
            .item{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-right: 101px;
              margin-bottom: 31px;
              p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 88.9%;
                text-align: center;
                color: #404040;
                max-width: 209px;
                margin-top: 22px;
              }
              &:nth-child(3n+3){
                margin-right: unset;
              }
            }
          }
        }
      }
      .buy{
        border: 1px solid #797979;
        box-sizing: border-box;
        border-radius: 6px;
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 641px;
        .list{
          padding-left: 18px;
          ul{
            margin-top: 46px;
            li{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 88.9%;
              color: #404040;
              padding-left: 13px;
              margin-bottom: 37px;
              &:last-child{
                margin-bottom: unset;
              }
            }
          }
        }
        button{
          margin-top: auto;
          background: #FFCC10;
          border-radius: 6px;
          padding: 17px 23px;
          width: 100%;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          text-transform: uppercase;
          color: #404040;
        }
      }
    }

    .examples{
      max-width: 1285px;
      width: 100%;
      margin: 0 auto 85px;
      .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 65px;
      }
      .items{
        display: flex;
        flex-flow: row wrap;
        .item{
          width: 169px;
          height: 169px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          border: 1px solid #797979;
          box-sizing: border-box;
          border-radius: 3px;
          margin-right: 15px;
          margin-bottom: 26px;
          &:nth-child(7n+7){
            margin-right: unset;
          }
        }
      }
    }

    .feedback {
      display: flex;

      .questions {
        max-width: 734px;
        width: 100%;
        height: 344px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .block {
          margin-left: auto;
          margin-right: 28px;

          .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            text-transform: uppercase;
            color: #404040;
            text-align: left;
            margin-bottom: 9px;
          }

          .subtitle {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            text-align: left;
            color: #404040;
            max-width: 324px;
          }
        }
      }

      .questionsForm {
        max-width: 864px;
        width: 100%;
        background: #FFCC10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .formTitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 100%;
          text-align: center;
          color: #404040;

          a {
            color: #404040;
          }
        }

        hr {
          border: 0.5px solid #404040;
          max-width: 412px;
          width: 100%;
          margin: 15px 0 36px;
        }

        form {
          max-width: 412px;
          width: 100%;
          display: flex;
          flex-direction: column;

          input {
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(64, 64, 64, 0.4);
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 88.9%;
            color: #000000;
            padding-bottom: 7px;
            outline: none;
            margin-bottom: 35px;

            &::placeholder {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 88.9%;
              color: #000000;
              opacity: 0.4;
            }
          }

          button {
            background: #FFFFFF;
            border-radius: 6px;
            padding: 17px 5px;
            width: 333px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
            color: #404040;
            margin: 0 auto;
          }

          .policy {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 88.9%;
            text-align: center;
            color: #404040;
            margin-top: 13px;
          }
        }
      }
    }
  }

  footer {
    background: #3E3E3E;
    padding-top: 28px;

    .wrapper {
      max-width: 1275px;
      width: 100%;
      margin: 0 auto;
      display: flex;

      .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 510px;
        width: 100%;

        .title {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 88.9%;
          text-align: center;
          color: #FFFFFF;
          margin: 33px 0 24px;
        }

        .contactItem {
          display: flex;
          align-items: center;

          .icon {
            width: 49px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
          }

          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 88.9%;
            color: #FFFFFF;
          }

          a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 88.9%;
            color: #FFFFFF;
          }
        }

        .itemPhone {
          a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 88.9%;
            color: #FFCC10;
          }
        }

        .seeAll {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 88.9%;
          text-decoration-line: underline;
          color: #FFFFFF;
          margin-left: 49px;
          margin-bottom: 51px;
          margin-top: 10px;
        }
      }

      .menu {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 88.9%;
        color: #FFFFFF;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-top: 155px;

        a {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 88.9%;
          color: #FFFFFF;
          margin-bottom: 23px;

          &:last-child {
            margin-bottom: unset;
          }
        }
      }
    }

    .offerta {
      margin-top: 75px;
      padding-bottom: 29px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 88.9%;
      text-align: center;
      color: #FFFFFF;

      a {
        opacity: 0.4;
        color: #FFFFFF;
        text-decoration: underline;
      }
    }

    .mobCity {
      display: none;
    }
  }

  .mask {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    align-items: center;
    justify-content: center;

    .popup {
      width: 741px;
      height: 465px;
      background: #FFFFFF;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
      border-radius: 19px;
      position: relative;

      .offer {
        position: absolute;
        top: -41px;
        right: 380px;
        z-index: 0;
      }

      .xclose {
        position: absolute;
        cursor: pointer;
        top: -22px;
        right: -22px;
        z-index: 0;
      }

      .content {
        margin-top: 58px;
        margin-left: 307px;
        display: flex;
        flex-direction: column;
        max-width: 391px;

        .title {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 100%;
          color: #404040;
          margin-bottom: 14px;
        }

        .subtitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 100%;
          color: #404040;
          margin-bottom: 42px;
        }

        input {
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(64, 64, 64, 0.4);
          margin-bottom: 34px;
          padding-bottom: 7.5px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 88.9%;
          color: #000000;

          &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 88.9%;
            color: #000000;
            opacity: 0.4;
          }
        }

        button {
          background: #FFCC10;
          border-radius: 6px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          text-transform: uppercase;
          color: #404040;
          padding: 17px 60px;
          margin-top: 12px;
        }

        .accept {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          line-height: 88.9%;
          color: #404040;
          margin-top: 20px;
        }
      }
    }
  }
}

@media(max-width: 1500px) {
  body {
    header {
      .wrapper {
        max-width: 1150px;
      }
    }

    main {
      max-width: 1150px;
      margin: 0 auto;

      nav {
        padding-left: 50px;
      }

      .banner {
        .macbook {
          width: 50%;
          margin-left: auto;
        }

        .yellowBlock {
          top: -224px;
        }

        h1 {
          font-size: 36px;
          padding-top: 57px;
          padding-left: 50px;
        }
      }
      .settingsBanner{
        width: 100%;
        margin-left: 7vw;
        h1{
          padding-left: unset;
        }
        .glonas{
          bottom: 19px;
          left: 92px;
          width: 444px;
        }
        .bannerForm{
          right: 9vw;
        }
      }

      .priceBlock{
        .prices{
          .column{
            .item{
              max-width: 200px;
            }
          }
        }
      }

      .benefits{
        .block{
          .perks{
            .items{
              .item{
                margin-right: 42px;
              }
            }
          }
        }
      }

      .examples{
        .items{
          .item{
            width: 156px;
            height: 156px;
            img{
              width: 100px;
            }
            margin-right: 7px;
            margin-bottom: 15px;
          }
        }
      }

      .solutions {
        margin-bottom: 30px;
        .truck {
          width: 732px;
          height: fit-content;

          .truckPic {
            width: 532px;
          }

          .cargo {
            top: 101px;
            right: 68px;
          }

          .taxi {
            top: 154px;
            right: 12px;
          }

          .corp {
            top: 209px;
            right: 22px;
          }

          .spec {
            top: 303px;
            right: 65px;
          }

          .passenger {
            top: 355px;
            right: 18px;
          }
        }

        .choose {
          margin-left: 10px;

          .subtitle {
            margin-bottom: 15px;
          }

          hr {
            margin-bottom: 25px;
          }

          .equipment {
            margin-bottom: 32px;
          }
        }
      }
    }

    footer {
      .wrapper {
        max-width: 1150px;
      }
    }
  }
}

@media(max-width: 1050px) {
  body {
    header {
      height: 54px;

      .wrapper {
        max-width: unset;
        width: unset;
        padding: 0 16px;

        .burger {
          display: block;
        }

        img {
          width: 95px;
        }

        .headerItem {
          &:nth-child(2n) {
            display: none;
          }

          p {
            font-size: 10px;
            line-height: 88.9%;
            text-align: right;
          }

          .headerItem__city {
            margin-bottom: 6px;
            font-size: 10px;
            line-height: 88.9%;
            text-align: right;
          }

          .headerItem__tel {
            font-size: 10px;
            line-height: 88.9%;
            text-align: right;
          }
        }

        button {
          display: none;
        }
      }
    }

    main {
      max-width: 600px;
      padding-top: 50px;

      nav {
        padding-left: 20px;
      }

      .banner {
        .yellowBlock {
          top: -408px;
          left: -407px;
        }

        h1 {
          font-size: 23px;
          padding-top: 11px;
          padding-left: 20px;
        }

        .tabs {
          height: 70px;

          .tab {
            min-width: 70px;
            font-size: 12px;
            padding: 10px;
          }
        }
      }
      .settingsBanner{
        margin-left: unset;
        .glonas{
          display: none;
        }
        .miniGlonas{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
        .bannerForm{
          position: relative;
          right: unset;
          bottom: unset;
          width: 100%;
          height: fit-content;
          border-radius: unset;
          form{
            button{
              margin: 26px auto 0;
            }
            .policy{
              max-width: 254px;
              margin: 20px auto 0;
            }
          }
        }
        .subtitle{
          margin-bottom: 60px;
          padding-left: 20px;
        }
      }
      .expenses{
        flex-flow: column;
        max-height: unset;
        align-items: center;
        .title{
          order: 0;
          text-align: center;
        }
        .subtitle{
          order: 1;
          text-align: center;
          margin-bottom: 34px;
        }
        .diagramBlock{
          order: 3;
        }
        .perkBlock{
          order: 2;
          flex-flow:column;
          margin: 0 0 15px;
          border: none;
          padding: 0 0 33px;
          border-bottom: 1px solid  #404040;
          .item{
            margin-bottom: 15px;
            margin-right: unset;
          }
        }
      }
      .catalog {
        margin-top: 26px;

        h2 {
          font-size: 16px;
          line-height: 100%;
          margin: 36px 0 10px;
        }

        .subtitle {
          font-size: 10px;
          line-height: 100%;
          margin-bottom: 17px;
        }

        hr {
          max-width: 289px;
        }

        .items {
          .item {
            padding-bottom: 38px;
            margin-top: 30px;
            flex-direction: column;

            .itemPic {
              margin: 0 auto 14px;
              max-height: 122px;
              width: auto;
            }

            .itemContent {
              max-width: 100%;
              padding-left: 16px;
              padding-right: 16px;

              .title {
                margin-bottom: 10px;
              }

              .description {
                max-width: unset;
              }

              .info {
                .brand {
                  font-size: 9px;
                  line-height: 100%;
                  margin-bottom: 5px;
                  margin-right: -15px;
                }

                .country {
                  font-size: 9px;
                  line-height: 100%;
                  margin-right: 30px;
                }

                .rules {
                  p {
                    font-size: 9px;
                    line-height: 100%;
                  }
                }
              }
            }

            .line {
              display: none;
            }

            .order {
              margin-top: 31px;

              .btnTitle {
                font-size: 13px;
                line-height: 100%;
              }
            }
          }
        }
      }
      .satelliteBlock{
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        width: 100%;
        .info{
          .title{
            padding-top: 40px;
            text-align: center;
          }
          .subtitle{
            text-align: center;
            margin-bottom: 34px;
          }
        }
        .content{
          display: none;
        }
        .mobileContent{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 16px;
          width: 100%;
          .item{
            background: #FFFFFF;
            border: 1px solid #797979;
            box-sizing: border-box;
            border-radius: 6px;
            width: 100%;
            height: 128px;
            padding: 21px 10px;
            margin-bottom: 12px;
            &:last-child{
              margin-bottom: unset;
            }
            .itemTitle{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              color: #404040;
              margin-bottom: 15px;
            }
            .itemSubtitle{
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 100%;
              color: #404040;
            }
          }
        }
      }
      .priceBlock{
        max-width: 600px;
        margin-top: 49px;
        .title{
          font-size: 24px;
        }
        .prices{
          justify-content: center;
          .column{
            .item{
              width: auto;
              max-width: 150px;
              font-size: 12px;
              line-height: 100%;
            }
            .second{
              .oldPrice{
                font-size: 10px;
              }
              .newPrice{
                font-size: 12px;
              }
            }
          }
        }
      }
      .devicesBlock{
        max-width: 600px;
        flex-direction: column;
        position: relative;
        .info{
          .title{
            text-align: center;
          }
          button{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .devices{
          padding: 0;
          margin-bottom: 69px;
          margin-top: 25px;
          justify-content: space-between;
          .line{
            display: none;
          }
          .item{
            margin: 0;
          }
        }
      }
      .solutions {
        margin: 0 auto;

        .truck {
          display: none;
        }

        .choose {
          max-width: 600px;
          display: flex;
          flex-direction: column;
          margin-left: unset;


          hr {
            margin-bottom: 9px;
            width: 100%;
          }

          .miniTruck {
            display: block;
            margin-top: 19px;
            margin-bottom: 10px;
          }

          .mobTabs {
            display: flex;

            select {
              margin: 0 auto;
              border: none;
              width: fit-content;
              outline: none;

              option {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 100%;
                text-align: center;
                color: #404040;
              }
            }
          }

          .equipment {
            padding: 0 16px;
            margin-bottom: 18px;

            .equipmentTitle {
              font-size: 12px;
              line-height: 100%;
              margin-bottom: 6px;
            }

            .equipmentSubtitle {
              font-size: 10px;
              line-height: 100%;
            }
          }

          .control {
            padding: 0 16px;
            margin-bottom: 27px;

            .controlTitle {
              font-size: 12px;
              line-height: 100%;
              margin-bottom: 5px;
            }

            .controlSubtitle {
              font-size: 10px;
              line-height: 100%;
            }
          }

          .getSolution {
            margin: 0 auto;
            padding: 15px 14px;
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
      .benefits{
        max-width: 600px;
        flex-direction: column;
        .block{
          padding: 0;
          margin: 0;
          .info{
            padding-bottom: 30px;
            .title{
              text-align: center;
            }
            .subtitle{
              text-align: center;
            }
          }
          .perks{
            max-width: 288px;
            margin: 0 auto;
            .title{
              text-align: center;
            }
            .items{
              .item{
                margin-right: 13px;
                p{
                  font-size: 12px;
                  max-width: 131px;
                }
                &:nth-child(3n+3){
                  margin-right: 13px;
                }
                &:nth-child(2n+2){
                  margin-right: unset;
                }
              }
            }
          }
        }
      }
      .feedback {
        flex-direction: column;
        margin-bottom: 35px;

        .questions {
          justify-content: center;
          align-items: center;
          height: unset;
          max-width: 100%;

          .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .title {
              text-align: center;
              font-size: 16px;
              line-height: 100%;
              margin-top: 35px;
            }

            .subtitle {
              text-align: center;
              font-size: 12px;
              line-height: 100%;
              margin-top: 10px;
              max-width: 246px;
              margin-bottom: 28px;
            }
          }
        }

        .questionsForm {
          padding: 17px 0;
          max-width: 100%;

          .formTitle {
            font-size: 11px;
            line-height: 100%;
          }

          hr {
            width: 288px;
            margin: 18px 0 26px;
          }

          form {
            max-width: 288px;
            margin: 0 auto;

            button {
              width: 188px;
              font-size: 10px;
              line-height: 12px;
            }
          }
        }
      }
      .examples{
        .title{
          margin-bottom: 29px;
        }
        .items{
          max-width: 288px;
          margin: 0 auto;
          justify-content: center;
          .item{
            width: 90px;
            height: 90px;
            margin-right: 9px;
            img{
              width: 70px;
            }
            &:nth-child(7n+7){
              margin-right: 9px;
            }
            &:nth-child(3n+3){
              margin-right: unset;
            }
          }
        }
      }
    }

    footer {
      .wrapper {
        max-width: 600px;
      }
    }

    .mask {
      .popup {
        width: unset;

        .offer {
          display: none;
        }

        .content {
          margin: 0 auto;
          padding: 20px 40px;
        }
      }
    }
  }
}

@media(max-width: 600px) {
  body {
    main {
      padding-top: 54px;

      nav {
        padding: 13px 16px;

        .breadcrumbs {
          a {
            font-size: 8px;
            line-height: 88.9%;
          }
        }
      }

      .banner {
        padding-left: 16px;
        flex-direction: column;
        margin-left: unset;

        .yellowBlock {
          width: 204px;
          height: 243px;
          left: 0px;
          top: -38px;
          background: #FFCC10;
          border-radius: 0px;
        }

        h1 {
          font-size: 19px;
          line-height: 100%;
          margin-top: 15px;
          padding: 0;
          max-width: 164px;
        }

        .macbook {
          display: none;
        }

        .minibook {
          display: block;
          position: absolute;
          top: 36px;
          right: 0;
        }

        .tabs {
          position: relative;
          flex-direction: column;
          height: unset;
          width: unset;
          border: none;
          align-items: flex-start;

          .tab {
            padding: 0;
            border: none;
            display: block;
            text-align: left;
            font-size: 9px;
            line-height: 88.9%;
            margin-top: 10px;

            &:first-child {
              border: none;
            }
          }
        }
      }
      .settingsBanner{
        padding: 0;
        h1{
          padding-left: 16px;
        }
        .subtitle{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 100%;
          color: #404040;
          margin-top: 3px;
          margin-bottom: 42px;
          padding-left: 16px;
          max-width: 138px;
        }
        .bannerForm{
          form{
            button{
              width: 188px;
            }
          }
        }
      }
      .expenses{
        max-width: 288px;
        .title{
          margin-top: 0;
          font-size: 16px;
          line-height: 100%;
          margin-bottom: 21px;
        }
        .subtitle{
          font-size: 10px;
          line-height: 100%;
        }
        .perkBlock{
          .item{
            img{
              margin-right: 13px;
            }
            p{
              font-size: 12px;
              line-height: 100%;
            }
          }
        }
        .diagramBlock{
          flex-direction: unset;
          flex-flow: row wrap;
          justify-content: space-between;
          .item{
            flex-direction: column;
            align-items: center;
            img{
              width: 75px;
              height: 75px;
              margin: 0;
            }
            p{
              margin-top: 11px;
              width: 131px;
              font-size: 9px;
              line-height: 100%;
              text-align: center;
            }
          }
        }
      }
      .satelliteBlock{
        max-width: 288px;
        .info{
          .title{
            font-size: 16px;
            line-height: 100%;
            margin-bottom: 15px;
          }
          .subtitle{
            font-size: 10px;
            line-height: 100%;
          }
        }
        .mobileContent{
          .item{
            padding: 21px 11px;
            .itemTitle{
              font-size: 11px;
              line-height: 100%;
              max-width: 154px;
            }
            .itemSubtitle{
              font-size: 10px;
              line-height: 100%;
            }
          }
        }
      }
      .priceBlock{
        max-width: 100%;
        margin-bottom: 34px;
        .title{
          font-size: 16px;
          line-height: 100%;
          margin-bottom: 31px;
        }
        .prices{
          .column{
            .item{
              max-width: 70px;
              font-size: 7px;
              line-height: 100%;
              svg{
                width: 12px;
                height: 12px;
              }
            }
          }
          .second{
            .item{
              .oldPrice{
                font-size: 5px;
                line-height: 100%;
              }
              .newPrice{
                font-size: 7px;
                line-height: 100%;
              }
            }
          }
        }
      }
      .devicesBlock{
        margin-bottom: 41px;
        .info{
          .title{
            font-size: 16px;
            line-height: 100%;
          }
          button{
            font-size: 10px;
            line-height: 12px;
            padding: 15px 14px;
          }
        }
        .devices{
          .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            img{
              width: 70px;
            }
            p{
              font-size: 9px;
              line-height: 100%;
            }
          }
        }
      }
      .catalog {
        .items {
          .item {
            .itemContent {
              .title {
                font-size: 15px;
                line-height: 100%;
              }

              .description {
                font-size: 10px;
                line-height: 10px;
              }
            }
          }
        }
      }
      .solutions {
        .choose {
          max-width: 320px;
          .title{
            font-size: 16px;
            line-height: 100%;
            text-align: center;
          }
          .subtitle{
            font-size: 12px;
            line-height: 100%;
            text-align: center;
          }
        }
      }
      .benefits{
        margin-top: 41px;
        max-width: 288px;
        margin-bottom: 38px;
        .block{
          .info{
            .title{
              font-size: 16px;
              line-height: 100%;
            }
            .subtitle{
              font-size: 10px;
              line-height: 100%;
            }
          }
          .perks{
            .title{
              font-size: 12px;
              line-height: 88.9%;
              margin-bottom: 25px;
            }
            .items{
              .item{
                p{
                  font-size: 9px;
                  line-height: 88.9%;
                }
              }
            }
          }
        }
        .buy{
          .list{
            padding-left: 0;
            ul{
              margin-top: 30px;
              li{
                font-size: 12px;
                line-height: 100%;
              }
            }
          }
          button{
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
      .examples{
        max-width: 288px;
        margin-bottom: 45px;
        .title{
          font-size: 16px;
          line-height: 100%;
          margin-bottom: 29px;
        }
      }
    }

    footer {
      .wrapper {
        max-width: 100%;
        width: 288px;
        padding: 16px;
        flex-direction: column;

        .contacts {
          align-items: center;

          .logo {
            width: 150px;
            margin-right: auto;
          }

          .title {
            font-size: 16px;
          }

          .contactItem {
            flex-direction: column;

            p {
              font-size: 10px;
            }

            a {
              font-size: 10px;
            }
          }

          .itemPhone {
            a {
              font-size: 10px;
            }
          }

          .seeAll {
            font-size: 10px;
            margin: 10px auto;
          }
        }

        .menu {
          display: none;
        }
      }

      .offerta {
        border-top: 1px solid #FFFFFF;
        padding-top: 16px;
        font-size: 12px;
        margin-top: 10px;
      }

      .mobCity {
        font-family: "Montserrat";
        font-size: 12px;
        display: flex;
        padding: 16px;
        justify-content: space-between;

        .city {
          color: #FFFFFF;

          a {
            color: #FFFFFF;
          }
        }

        a {
          color: #FFFFFF;
        }
      }
    }

    .mask {
      .popup {
        max-width: 280px;

        .xclose {
          right: 5px;
          top: -30px;
        }

        .content {
          padding: 10px;
        }
      }
    }
  }
}